<!-- templates/map.html -->
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Busker Beat - マップ</title>
    <!-- Leaflet　CSS -->
    <link 
        rel="stylesheet" 
        href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" 
    />
    <!-- カスタム　CSS -->
    <style>
        #map { height: 600px; width: 100%; }
    </style>

    <!-- Leaflet　JS -->
    <script 
        src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
        defer
    ></script>
</head>

<body>
    <h1>Busker Beat マップ</h1>
    <div id="map"></div>
    <!-- 地図の初期化 -->
    <script>
      const map = L.map('map').setView([35.6812, 139.7671], 13);  // 東京駅  
        // 地図のタイルレイヤーを追加
        L.tileLayer(
            'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', 
            {
                attribution: '&copy; OpenStreetMap contributors'
            }
        ).addTo(map);
    </script>
</body>
</html>